    body {
        margin: 0;
        padding: 0;
        background-image: url("image/bg.gif");
    }
    /* Start Section 1 */
    
    #sec1 {
        display: flex;
        height: 700px;
        background: rgb(0, 0, 0);
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 62% 80%, 0 100%);
    }
    
    .head {
        width: 65%;
        margin-left: 50px;
    }
    
    .img {
        width: 45%;
        margin-left: 150px;
        margin-top: 110px;
    }
    
    section h1,
    h3 {
        color: rgb(0, 105, 146);
        font-family: 'Abril Fatface', cursive;
        font-size: x-large;
    }
    
    section h1 {
        color: rgb(65, 154, 189);
        font-family: 'Abril Fatface', cursive;
        font-size: xx-large;
    }
    
    section p {
        color: rgb(255, 255, 255);
        font-family: 'Courgette', cursive;
    }
    /* End Section 1 */
    /* Start Section 2 */
    
    #sec2 {
        display: flex;
        height: 650px;
        background: rgb(255, 255, 255);
        width: 100%;
        background-image: url("image/bg.gif");
    }
    
    .img2 {
        width: 55%;
        margin-left: 40px;
    }
    
    .body {
        width: 55%;
    }
    
    ul {
        font-family: 'Courgette', cursive;
        font-size: x-large;
    }
    
    #mvh {
        color: rgb(0, 0, 0);
        font-size: x-large;
    }
    /* End Section 2 */
    /* Start Section 3 */
    
    #sec3 {
        display: flex;
        background: rgb(255, 255, 255);
        background-image: url("image/bg.gif");
    }
    
    .small {
        color: black;
        font-family: 'Courgette', cursive;
        font-size: x-large;
        margin-left: 20px;
    }
    
    .club {
        background-color: #E5E4E2;
        border: 2px solid #00d4d4;
        border-radius: 50px;
        padding: 15px;
        margin-left: 10px;
        height: 350px;
    }
    
    .game {
        background-color: #E5E4E2;
        border: 2px solid #00d4d4;
        border-radius: 50px;
        padding: 15px;
        margin-left: 10px;
        height: 350px;
    }
    
    .edit {
        background-color: #E5E4E2;
        border: 2px solid #00d4d4;
        border-radius: 50px;
        padding: 15px;
        margin-left: 10px;
        height: 350px;
    }
    
    .fas {
        color: rgb(0, 142, 185);
    }
    
    #sec3 h4 {
        font-size: large;
        font-family: 'Courgette', cursive;
    }
    /* End Section 3 */
    /* Start Section 4 */
    
    #sec4 {
        display: flex;
        background: #000000;
        margin-top: 40px;
    }
    
    .right {
        width: 50%;
        color: rgb(255, 255, 255);
        margin-left: 30px;
    }
    
    .left {
        width: 50%;
        color: rgb(255, 255, 255);
        margin-left: 60%;
        margin-top: 20px;
    }
    
    #sec4 a {
        margin-left: 10px;
        color: cornsilk;
    }
    
    #sec4 a:hover {
        color: rgb(2, 173, 216);
    }
    /* End Section 4 */